{% extends 'base.html.twig' %}

{% block title %}Editar Banner{% endblock %}

{% block body %}
    <h1>Editar Banner</h1>

    {{ include('admin/banner/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary float-start ms-3 text-white" href="{{ path('app_admin_banner_index') }}">Voltar</a>

    {{ include('admin/banner/_delete_form.html.twig') }}
{% endblock %}
