{% extends 'base.html.twig' %}

{% block title %}Edit NewsCategory{% endblock %}

{% block body %}
    <h1>Edit NewsCategory</h1>

    {{ include('admin/news_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_news_category_index') }}">back to list</a>

    {{ include('admin/news_category/_delete_form.html.twig') }}
{% endblock %}
